.Dblue
{
     height: 100%;
    background-color:#13618E;
    border-radius: 3px;
    color: whitesmoke;
}

.skyblue
{
    height: 100%;
    background-color: skyblue;
}
.btn-custom
{   
    border-color: whitesmoke;
    Color: whitesmoke;
    width: 130px
}
.btn-customfull
{
    Color:whitesmoke;
    background-color:#13618E;   
}
.thead-blue
{
    background-color:#13618E;   
}

li {
    vertical-align: middle;
 margin-left:3px;
 float:left; /*pour IE*/
 }

.a:hover
{
    background-color:#D3D3D3;
    Color:#13618E;
}
.btn-custom:hover
{
    Color:#13618E;
    background-color:whitesmoke;
}
.btn-customfull:hover
{
    color:#13618E;
    background-color:whitesmoke;
}
li {
    vertical-align: middle;
 margin-left:3px;
 float:left; /*pour IE*/
 }

ul li a:hover {
    background-image: linear-gradient(to right,rgba(255,255,255,0.6),rgba(35,130,168,0),rgba(35,130,168,0),rgba(255,255,255,0.6));
    color: rgba(120,200,200,1);
    border-radius: 4px;
 
 } 
.r:hover
{
    background-color:indianred;
     color: whitesmoke;
    border-color: indianred;
}
.b:hover
{
    background-color:palegreen;
     color: whitesmoke;
}
#container {
      
    background:rgba(255,255,255,0.7);
    
}

#box {
   
    background:rgba(255,255,255,0.3);
}
#mod {
   
    background:rgba(19,97,142,0.6);
}
#navi
{
   
    background-image: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0.5),rgba(255,255,255,0));
    color: white;
}
.item{
  width:100%;
  height:420px;
  
}