.gray
{
    height: 100%;
   background-image: linear-gradient(white, lightgray);
    border-radius: 7px;
}
.candara
{
    font-family: "candara",sans-serif;
    
}
.gradskyblue
{
    height: 100%;
    background-image: linear-gradient(skyblue, white);
    border-radius: 3px;
}
.dgradskyblue
{
    height: 100%;
    background-image: linear-gradient(white,skyblue);
    border-radius: 7px;
}
.skyblue
{
    height: 100%;
    background-color: skyblue;
}
.btn-custom
{
    background-color: ghostwhite;
    padding: 10px 30px;
    border-radius: 7px;
}
.aligncenter
{
    align-content: center;
}
li {
    vertical-align: middle;
 margin-left:3px;
 float:left; /*pour IE*/
 }

ul li a:hover {
 background-color:#D3D3D3;
 
 } 
.a:hover
{
    background-color:#D3D3D3;
}
.taille
{
    width: 300px;
    height: 300px;
}
.border_radius
{
     border-radius: 7px;
}