html
{
    background-color: rgb(5,39,41);
    color: #e6e9e9;
}

body
{
    max-width: 1026px;
    margin: auto;
    background-color: #e6e9e9;
    color: #e6e9e9;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p
{
    text-align: justify;
}

figure
{
    align-content: center;
}

h2
{
    text-align: left;
    margin-bottom: 20px;
}

#marge
{
    margin: auto;
    margin-top: 3px;   
}

.margeinterieure
{
    padding-bottom: 15px;
}

.margeinterieurehaut
{
    padding-top: 20px;
}
.bloc
{
    background-color: rgba(6,53,59,0.7);
    color: white;
    border: solid;
    border-radius: 20px/15px;
    border-color: rgb(6,53,59);
}

.menu
{
    background-color: rgb(6,53,59);
    color: white;
    font-size: 1.7em;
    margin: auto;
    text-align: center;
    height: 2em;
    padding-top: 4px;
    margin-top: 2px;
}